* {
    box-sizing: border-box
}

/* Carousel container */
.carousel-container {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.events:first-child {
    display: block;
}

/* Hide the images by default */
.events {
    display: none;
    text-align: center;
    scroll-margin-top: 40px;
    touch-action: pan-y; /* Allows vertical scrolling while enabling horizontal swipes */
}

#welcome_event {
    display: block;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    background: linear-gradient(135deg, #5c6d3c, #7a8e52);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
    user-select: none;
}

.prev {
    border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background: linear-gradient(135deg, #7a8e52, #a1b583);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    color: white;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #8a9c6e;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot-active,
.dot:hover {
    background-color: #44502d;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media screen and (max-width: 768px) {

    .prev,
    .next {
        /* Less padding so arrows are closer */
        padding: 10px;
        /* Slightly smaller for mobile */
        font-size: 16px;
    }

    .flex-container {
        /* Less spacing between elements */
        gap: 5px;
    }
}