@font-face {
    font-family: RoyalWedding;
    src: url("fonts/RoyalWedding-Regular.otf") format("opentype");
}

@font-face {
    font-family: Quicksand;
    src: url("fonts/Quicksand_Book.otf") format("opentype");
}

* {
    font-family: Quicksand;
}