.parallax {
    /* The image used */
    background-image: url("../photos/stalker_shot.jpeg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 66.5%;
    background-repeat: no-repeat;
    background-size: cover;
}