/* Web - for the most part */
@media screen and (min-width:800px) {
.parallax {
    /* Be sure to set the background-image in the html source code. */
    /* Example: style="background-image: url('photos/stalker_shot.jpeg');" */

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
}

/* Mobile - for the most part */
@media screen and (max-width:768px) {
    /* On mobile, we simply insert the image (parallax doesn't work on iOS) */
    .parallax {
        /* Be sure to set the background-image in the html source code. */
        /* Example: style="background-image: url('photos/stalker_shot.jpeg');" */

        /* Full height */
        height: 100%;
    }
}