.parallax {
    /* Be sure to set the background-image in the html source code. */
    /* Example: style="background-image: url('photos/stalker_shot.jpeg');" */

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}